body{
	background-color: grey;
	position: relative;
	margin: 0px;
	width: 100%;
}
#menu{
	position: relative;
	display: inline-block;
	background-color: black;
	height: 500px;
	width: 200px;
	float: left;
}
#canvas{
	height: 500px;
	width: 500px;
	position: relative;
	display: inline-block;
	background-color: white;
	transform: translateX(50%);
}
#colorMenu{
	height: 100px;
	width: 100px;
	background-color: white;
}
#colorRed{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
}
#colorBlue{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
}
#colorGreen{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
}
#colorOrange{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
}
#colorPurple{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
}