body{
	background-color: grey;
	position: relative;
	margin: 0px;
	width: 100%;
}
#menu{
	position: relative;
	display: inline-block;
	background-color: white;
	height: 500px;
	width: 70px;
	float: left;
}
#canvas{
	height: 500px;
	width: 500px;
	position: relative;
	display: inline-block;
	background-color: white;
	transform: translateX(50%);
}
#colorMenu{
	height: 60px;
	width: 100px;
	background-color: #4d4d33;
}
#colorPalatte{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
#popupColor{
	visibility: hidden;
	width: 160px;
	height: 100px;
	background-color: white;
	color: blue;
	text-align: center;
	border-radius: 4px;
	position: absolute;
	z-index: 1;
}
#colorPalatte .show{
	visibility: visible;
}
/*#colorRed{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
	border-color: white;
}
#colorBlue{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
}
#colorGreen{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
}
#colorOrange{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
}
#colorPurple{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
}
#colorYellow{
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
}
*/